# Discord Bot Token (dari Discord Developer Portal)
DISCORD_TOKEN=""

# ID Channel Voice yang ingin di-join bot saat startup
VOICE_CHANNEL_ID=
GUILD_ID=
# Folder penyimpanan rekaman (opsional, default: ./recordings)
RECORDINGS_DIR=./recordings
