[submodule "vendor/discord.js-selfbot-v13"]
	path = vendor/discord.js-selfbot-v13
	url = https://github.com/MythEclipse/discord.js-selfbot-v13.git

[submodule "vendor/discord-video-stream"]
	path = vendor/discord-video-stream
	url = https://github.com/MythEclipse/discord-video-stream.git
[submodule "vendor/drizzle-orm"]
	path = vendor/drizzle-orm
	url = https://github.com/MythEclipse/drizzle-orm.git
[submodule "vendor/better-sqlite3"]
	path = vendor/better-sqlite3
	url = https://github.com/MythEclipse/better-sqlite3.git
[submodule "vendor/node-datachannel"]
	path = vendor/node-datachannel
	url = https://github.com/MythEclipse/node-datachannel.git
